# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
out
# don't lint nyc coverage output
coverage
# don't lint in other dependencies
elixir-ls
