out
node_modules
*.vsix

# Running build.sh copies ElixirLS from $ELIXIR_LS_SRC into this folder so it'll be included
# when packaging and publishing. Don't develop on it here though! This folder will be removed every
# build.
elixir-ls/