out
node_modules
.vscode-test/
*.vsix

# We store the build artifacts from ElixirLS here
/elixir-ls-release

# We copy the CHANGELOG.md from ./elixir-ls/CHANGELOG.md in vscode:prepublish
/CHANGELOG.md
