name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    # TODO test on macos-latest?
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Resolve vscode-elixir-ls dependencies
        run: |
          npm ci
      - name: Static analysis
        run: |
          npm run lint
          npm run check-formatting
        if: runner.os != 'Windows'
      - name: Build
        run: |
          npm run compile
      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: 1.14.x
          otp-version: 25.x
      - name: Resolve elixir-ls dependencies
        run: |
          cd elixir-ls
          mix deps.get
        env:
          MIX_ENV: "prod"
      - name: Install local release
        run: |
          elixir "elixir-ls/scripts/quiet_install.exs"
        env:
          MIX_ENV: "prod"
          ELS_LOCAL: 1
      - name: Run tests
        run: |
          xvfb-run -a npm test
        env:
          # DISABLE_GPU: 1
          ELS_LOCAL: 1
        if: runner.os == 'Linux'
      - name: Run tests
        run: |
          npm test
        env:
          # DISABLE_GPU: 1
          ELS_LOCAL: 1
        if: runner.os != 'Linux'
